Repository VTrngNghia/react-base: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --loglevel=warn

.lintstagedrc:

{
  "src/**/*.{js,ts,jsx,tsx}": [
    "eslint --fix",
    "prettier --write --loglevel=warn"
  ],
  "src/**/*.json": [
    "prettier --write --loglevel=warn"
  ]
}

build: install Tailwind CSS
  package.json
  postcss.config.js
  src/config/colors.json
  src/config/screenSizes.json
  tailwind.config.js
  yarn.lock
Due: prettier --write --loglevel=warn

build: optimize Tailwind CSS build time
  src/index.css
  src/index.tsx
  src/tailwind-after.css
  src/tailwind-before.css
Due: eslint --fix, prettier --write --loglevel=warn

build: install AntD
  craco.config.js
  package.json
  src/index.css
  src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --loglevel=warn

ci: rename .prettierrc file
  .prettierrc
Due: none

build: install Lodash
  package.json
  yarn.lock
Due: none

build: configure basic Axios & i18n
  .eslintrc.js
  .prettierrc.json
  package.json
  src/common/axios.ts
  src/common/utils.ts
  src/components/showToast.tsx
  src/config/config.js
  src/config/httpCodes.js
  src/i18n.ts
  src/locales/en/common.js
  src/locales/en/index.js
  src/types/global.d.ts
  yarn.lock
Due: eslint --fix, prettier --write --loglevel=warn

feat: generate i18n validation messages
  .eslintrc.js
  src/common/genValidationMessages.ts
  src/index.tsx
  src/locales/en/validation.js
Due: eslint --fix, prettier --write --loglevel=warn

feat: install Redux
  package.json
  src/features/auth/reducer.ts
  src/features/auth/types.ts
  src/index.tsx
  src/reducer.ts
  src/store.ts
  yarn.lock
Due: eslint --fix, prettier --write --loglevel=warn

feat: add auth/selectors
  src/features/auth/selectors.ts
  src/reducer.ts
  src/types/global.d.ts
Due: eslint --fix, prettier --write --loglevel=warn

feat: install react-router-dom & react-hook-guard & refactor some
  package.json
  src/common/axios.ts
  src/common/components/showToast.tsx
  src/common/i18n.ts
  src/common/locales/en/common.js
  src/common/locales/en/index.js
  src/common/locales/en/validation.js
  src/common/reducer.ts
  src/common/store.ts
  src/common/utils/genValidationMessages.ts
  src/common/utils/utils.ts
  src/features/auth/selectors.ts
  src/features/auth/useAuthenticationGuard.ts
  src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --loglevel=warn

build: downgrade to react-router-dom@5.3.0
  package.json
  src/features/auth/useAuthenticationGuard.ts
  yarn.lock
Due: eslint --fix, prettier --write --loglevel=warn

feat: config redux-saga
  src/features/auth/api.ts
  src/features/auth/reducer.ts
  src/features/auth/saga.ts
  src/features/auth/selectors.ts
  src/index.tsx
  src/plugins/axios.ts
  src/plugins/i18n.ts
  src/plugins/reducer.ts
  src/plugins/sagas.ts
  src/plugins/store.ts
Due: eslint --fix, prettier --write --loglevel=warn

feat: barebone routes & layout
  .eslintrc.js
  package.json
  src/App.tsx
  src/features/auth/login/index.tsx
  src/features/auth/useAuthenticationGuard.ts
  src/features/home/dashboard/index.tsx
  src/layouts/SideBarLayout.tsx
  src/routes.ts
  yarn.lock
Due: eslint --fix, prettier --write --loglevel=warn
